
.background
{
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: -1;
    
    
}
* 
{
    margin: 0;
    padding: 0;
    
}

.header
{
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    z-index: 100;
}
.logo
{
    top: 0;
    left: 30px;
    padding: auto;
    position: absolute;
    width: 225px;
    
    z-index: 1;
}
.navbar{
    display: flex;
    
}
.navbar a
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-decoration: none;
    margin-top: 40px;

    margin-left: 50px;
    
    
    font-weight: 700;
}
.navbar a::before
{
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    width: 0;
    height: 4px;
    background: #60A53D;
    transition: .3s;
}
.navbar a:hover::before
{
    width: 100%;
}
.figure
{
    display: flex;
    position: relative;
}
.captiontext
{
    position: absolute;
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    width: 500px;
    font-weight: bold;
    
    top: 40%;
    left: 100px;
    justify-content: center;
    
}
.header1
{
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    max-width: 650px;
    

    margin-top: 48px;
}
section
{
    padding-top: 100px;
    margin-left: 70px;
    display: block;    
    
}
.sectionImage
{
    margin-right: 70px;
   
    max-width: 600px;
    float: right;


}
.sectionImage[src="/images/summercamp.jpeg"]{
    float:left;
    
}
.paragraph2
{
    position: absolute;
    right: 40px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    
    width: 650px;

    margin-top: 48px;
}
h2.header1{
    position: relative;
    top: 0px;
    left: 30px;
    display: inline;
    
   

}
main
{
    display: flex;
    flex-direction: column;
}