* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background
{
   
    height: auto;
    margin: auto;
    z-index: -1;
    min-height: 100vh;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
   
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
}

.logo {
    width: 172px;
    z-index: 1;
    margin-left: 5px;
    margin-top: 5px;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1rem;
}
.navbar a:hover
{
    border-bottom: 3px solid #60A53D;
    
}
#currentpage{
    border-bottom: 3px solid #60A53D;
}


#check{
    display: none;
}

.figure
{
    display: flex;
    position: relative;
}
.captiontext
{
    position: absolute;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    width: 500px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.7);
   
   
    
    top: 40%;
    left: 100px;
    justify-content: center;
    display: block;
    
}




.footer
{
    margin-top: 48px;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #60A53D;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    
    


}
.footertext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    text-decoration: none;
    margin: 0 10px; 
    padding: 5px; 
    text-align: center;
    color: black;

}
.footerlogo
{
    max-width: 10%;
    

    
}
.sectioncontainer
{
    display: flex;
    margin-left: 20px;
}
.main-section
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 48px;
}
.backgroundmobile
{
    display: none;
}
.sectionImage
{
    margin-right: 70px;
   
    width: 350px;
    


}

#cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999; 
}

  
#cookies-message a {
    color: #60A53D;
    text-decoration: underline;
}


.navbar-icon
  {
    position: absolute;
    right: 5px;
    display: none;
}
.mobiletext
{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    display: block;
    font-weight: 300;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 100px;

}
.mobilesubtext{
    font-size: 28px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    line-height: 30px;
    text-indent: 10px;
    word-spacing: 1px;

}
.footerlist
{
    display: flex;
    margin-top: 10px;
    list-style-type: none;
}
.arrow
{
    position: absolute;
    top: 60%;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 100px;
}

@media screen and (max-width: 932px) {

    .navbar-icon{
        display: inline-flex;
    }
    .background
    {
        object-fit: cover;
        object-position: center;
        display: block;

    }
    #check:checked~.navbar
    {
        height: 17.7rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: height 0.3s ease;


    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;

    }
    .logo
    {
        width: 124px;
        padding-left: 5px;
    }
    #icon{
        max-width: 35px;
    }
    .captiontext{
        font-size: 40px;
    }
    .figure{
        display: none;
    }
    .backgroundmobile
    {
        
        
        background-image: url(.../images/homebackground.JPG);
        background-size: cover; 
        max-width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .sectionImage
    {
        max-width: 100%;
        display: block;
        padding-bottom: 20px;
        margin-right: 0;
    }
    .mobiletext h5{
        font-size: 28px;
    }
    
    .footer {
        flex-direction: column; 
        align-items: center;
        margin-top: 20px;
        justify-content: normal;

    }
    .footertext {
        font-size: 14px;
        
    }
    .footerlogo {
        max-width: 5rem; 
       
    }
    

}