.background
{
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: -1;
    
    
}
* 
{
    margin: 0;
    padding: 0;
    
}

.header
{
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    z-index: 100;
}
.logo
{
    top: 3px;
    left: 30px;
    padding: auto;
    position: absolute;
    width: 172px;
    
    z-index: 1;
}
.navbar{
    display: flex;
    margin-right: 50px;
}
.navbar a
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-top: 40px;

    margin-left: 50px;
    
    
    font-weight: 600;
}
.navbar a::before
{
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    width: 0;
    height: 4px;
    background: #60A53D;
    transition: .3s;
}
.navbar a:hover::before
{
    width: 100%;
}
.figure
{
    display: flex;
    position: relative;
}
.captiontext
{
    position: absolute;
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    width: 500px;
    font-weight: bold;
   
   
    
    top: 40%;
    left: 100px;
    justify-content: center;
    
}




.footer
{
    margin-top: 48px;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #60A53D;
    justify-content: flex-start;
    align-items: center;

}
.footertext
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-top: 40px;

    margin-left: 50px;
    

}
.footerlogo
{
    width: 100px;
    bottom: 0;
    left: 30px;
    padding: auto;
    position: relative;

    
}
.sectioncontainer
{
    display: flex;
    margin-left: 20px;
}
.main-section
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 48px;
}



#cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999; 
  }
  
  #cookies-message a {
    color: #60A53D;
    text-decoration: underline;
  }
  

