.background
{
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: -1;
    
    
}
* 
{
    margin: 0;
    
    padding: 0;
    
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
}

.logo {
    width: 172px;
    z-index: 1;
    margin-left: 5px;
    margin-top: 5px;
}

.navbar a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1rem;
}

.navbar a::before
{
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    width: 0;
    height: 4px;
    background: #60A53D;
    transition: .3s;
}
.navbar a:hover::before
{
    width: 100%;
}
#check{
    display: none;
}

.footer
{
    margin-top: 48px;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #60A53D;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    
    


}
.footertext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    text-decoration: none;
    margin: 0 10px; 
    padding: 5px; 
    text-align: center;
    color: black;

}
.footerlogo
{
    max-width: 10%;
    

    
}
.captioncontact
{
    position: absolute;
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    top: 45%;
    left: 100px;
    justify-content: center;
    
}
.contact-us
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    
    
}
.contact-ustext
{
    width: 100%;
    height: 100px;
    background-color: #60A53D;
    color: black; 
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.contact-ustext strong
{
    font-size: 32px;
}
form {
    width: 870px;
    height: 570px;
    background-color: #60A53D; 
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 48px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="radio"] {
    margin-left: 100px;
    margin-top: 10px;
    transform: scale(2);
    align-self: flex-start;
    display: block;
    margin-bottom: 20px;
    
}

input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #18672d; 
    color: white;
}
.form-container
{
    margin-top: 100px;
}
section
{
    margin-top: 24px
}
.figure
{
    margin-top: 10px;
}

legend
{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
}

.cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999; 
  }
  
  .cookies-message a {
    color: #60A53D;
    text-decoration: underline;
  }
  .accept-cookies {
    background-color: #60A53D;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.accept-cookies:hover {
    background-color: #478F36;
}
.accept-cookies-checkbox:checked ~ .cookies-message {
    display: none;
}

.navbar-icon
  {
    position: absolute;
    right: 5px;
    display: none;
}
.mobilefigure
{
    display: none;
}
.footerlist
{
    display: flex;
    margin-top: 10px;
    list-style-type: none;
}

@media screen and (max-width: 932px) {

    .navbar-icon{
        display: inline-flex;
    }
    .background
    {
        object-fit: cover;
        object-position: center;
        display: block;

    }
    #check:checked~.navbar
    {
        height: 17.7rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: height 0.3s ease;


    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: #fff;

    }
    .logo
    {
        width: 124px;
        padding-left: 5px;
    }
    #icon{
        max-width: 35px;
    }
    .captiontext{
        font-size: 40px;
    }
    .figure{
        display: none;
    }
    
    .sectionImage
    {
        max-width: 100%;
        display: block;
        padding-bottom: 20px;
        margin-right: 0;
        
    }
    #floatleft{
        margin: 0;
    }
    .mobiletext h5{
        font-size: 28px;
    }
    .header
    {
        border-bottom: black;
        border-style: double;
        border-width: 2px;
    }
    .mobilefigure
    {
        display: block;
        margin-bottom: 20px;
        
    }
    #mobile {
        position: relative;
        color: black;
        font-size: 2em;
        width: auto;
        margin-left: 2em;
        

    }
    #mobilesection
    {
        padding-top: 20px;
    }

    form
    {
        max-width: 70%;
    }
    .footer {
        flex-direction: column; 
        align-items: center;
        margin-top: 20px;
        justify-content: normal;
    }
    .footertext {
        font-size: 14px;
        
    }
    .footerlogo {
        max-width: 5rem; 
       
    }

}