.background
{
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: -1;
    
    
}
* 
{
    margin: 0;
    
    padding: 0;
    
}

.header
{
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 82px;
    
    
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.logo
{
    top: 4px;
    left: 30px;
    padding: auto;
    position: absolute;
    width: 172px;
    
    z-index: 1;
}
.navbar{
    display: flex;
    margin-right: 50px;
}
.navbar a
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:black;
    text-decoration: none;
    margin-top: 40px;

    margin-left: 50px;
    
    
    font-weight: 600;
}
.navbar a::before
{
    content: '';
    top: 100%;
    left: 0;
    position: absolute;
    width: 0;
    height: 4px;
    background: #60A53D;
    transition: .3s;
}
.navbar a:hover::before
{
    width: 100%;
}
.captiontext
{
    position: absolute;
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    width: 500px;
    font-weight: bold;
    
    top: 40%;
    left: 100px;
    justify-content: center;
    
}
.footer
{
    margin-top: 48px;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #60A53D;
    justify-content: flex-start;
    align-items: center;

}
.footertext
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-top: 40px;

    margin-left: 50px;
    

}
.footerlogo
{
    width: 100px;
    bottom: 0;
    left: 30px;
    padding: auto;
    position: relative;

    
}
.captioncontact
{
    position: absolute;
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    color: white;
    
    font-weight: bold;
    top: 45%;
    left: 100px;
    justify-content: center;
    
}
.contact-us
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    
    
}
.contact-ustext
{
    width: 100%;
    height: 100px;
    background-color: #60A53D;
    color: black; 
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.contact-ustext strong
{
    font-size: 32px;
}
form {
    width: 870px;
    height: 570px;
    background-color: #60A53D; 
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 48px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="radio"] {
    margin-left: 100px;
    margin-top: 10px;
    transform: scale(2);
    align-self: flex-start;
    display: block;
    margin-bottom: 20px;
    
}

input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #18672d; 
    color: white;
}
.form-container
{
    margin-top: 100px;
}
section
{
    margin-top: 24px
}
.figure
{
    margin-top: 10px;
}

legend
{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
}

.cookies-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999; 
  }
  
  .cookies-message a {
    color: #60A53D;
    text-decoration: underline;
  }
  .accept-cookies {
    background-color: #60A53D;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.accept-cookies:hover {
    background-color: #478F36;
}
.accept-cookies:checked
{
    .cookies-message{
        display: none;
    }
}