*
{
    margin: 0;
    padding: 0;
}
.header1
{
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.paragraph3
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    
}

h3.header1{
    margin-left: 20px;
    margin-top: 48px;
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 70px;
}
.paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    max-width: 650px;
    

    margin-top: 48px;
}
.maincontainer1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.maincontainer2
{
    display: flex;

}


@media screen and (max-width: 932px){
    .header1
    {
        font-size: 24px;
    }
    .paragraph1
    {
        font-size: 20px;
        margin-right: 48px;
        margin-top: 20px;
        max-width: 100%;
    }
    .paragraph3
    {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    h3.header1
    {
        font-size: 32px;
    }

    

}
