


.header1
{
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    
    margin-right: 48px;
    

    margin-top: 48px;
}
.section1
{
    padding-top: 100px;
    margin-left: 70px;
    display: flex;
    margin-right: 70px;  
    align-items: center;
    justify-content: space-evenly;
   
      
    
}
.section2
{
    padding-top: 100px;
    margin-left: 70px;
    display: flex;
    margin-right: 70px;  
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
article
{
    float: right;
}



.paragraph2
{
    position: absolute;
    right: 40px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    
    width: 650px;

    margin-top: 48px;
}
h2.header1{
    
    display: inline;
    
   

}
main
{
    display: flex;
    flex-direction: column;
}
/*home page pic position and dimentions */

.paragraph1 a{
    color: blue;
}
.paragraph1 a:active
{
    color: purple;
}
.paragraph3
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    max-width: 390px;
}

h3.header1{
    margin-left: 20px;
}


/*Contact us styling */

h4.header1
{
    font-size: 40px;
    
    color: white;
    font-family: 'Notable', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    
}
aside .paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 48px;
    max-width: 650px;
}

.paragraph4
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    
    max-width: 1219px;
    margin-bottom: 48px;
}


/*learn more button style*/

.buttonLearnMore
{
    width: 126px;
    height: 60px;
    border: 5px solid black;
    background-color: white;
    border-radius: 16px;
    margin-top: 10px;
    font-size: 18px;
}
.buttonLearnMore:hover
{
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7);

}
.buttonLearnMore:active
{
    background-color: #60A53D;
}

@media screen and (max-width: 932px){
    .header1
    {
        font-size: 24px;
    }
    .paragraph1
    {
        font-size: 16px;
        margin-right: 48px;
        margin-top: 20px;
    }
    .section2, .section1{
        flex-direction: column

    }
    .buttonLearnMore
    {
        width: 95px;
        height: 45px;
        font-size: 14px;
    }


    .paragraph4
    {
        font-size: 18px;
    }
    .paragraph3{
        font-size: 20px;
    }
    

}
