


.header1
{
    font-size: 40px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    max-width: 650px;
    

    margin-top: 48px;
}
section
{
    padding-top: 100px;
    margin-left: 70px;
    display: block;    
    
}
.sectionImage
{
    margin-right: 70px;
   
    max-width: 600px;
    float: right;


}
.sectionImage[src="/images/summercamp.jpeg"]{
    float:left;
    
}
.paragraph2
{
    position: absolute;
    right: 40px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    
    width: 650px;

    margin-top: 48px;
}
h2.header1{
    position: relative;
    top: 0px;
    left: 30px;
    display: inline;
    
   

}
main
{
    display: flex;
    flex-direction: column;
}
/*home page pic position and dimentions */
.sectionImage[src="./images/homeParagraph1.JPG"]
{
    
    max-width: 400px;

}
.paragraph1 a{
    color: blue;
}
.paragraph1 a:active
{
    color: purple;
}
.paragraph3
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #464646;
    margin-left: 48px;
    max-width: 390px;
}

h3.header1{
    margin-left: 20px;
}


/*Contact us styling */

h4.header1
{
    font-size: 40px;
    
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    
}
aside .paragraph1
{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 48px;
    max-width: 650px;
}
.contact-us
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}
.contact-ustext
{
    width: 100%;
    height: 100px;
    background-color: #60A53D;
    color: #fff; 
    text-align: center;
    
}
